body{
    margin: 0 auto;
}

header{
    background-color: #673ab7;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
}

.userSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSection{
    padding: 20px;
    width: 100%;
}

input{
    width: 100%;
    box-sizing: border-box;
}

button{
    background-color: #673ab7;
    color: white;
    width: 100%;
    padding: 10px;
}

.infoSection{
    padding: 20px;
}

@media screen and (min-width: 768px){
    main{
        display: flex;
        flex-wrap: wrap;
    }

    .userSection{
        width: 50%;
    }

    .infoContainer{
        width: 50%;
    }
    
}